{{#maincats}}

<h5>{{subCat}}</h5>

{{#cats}}
<li class="" id="cat_{{ catName }}">
  <a href="#!/category/{{ catName }}/tag/*/page/0">
    <i class="icon-chevron-right"></i>
    {{ catTitle }}
  </a>
</li>
{{/cats}}

{{/maincats}}
